body {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #85C7DE;
    display: flex;
}

h1 {
    color: white;
    text-align: center;

}


#intro {
    color: white;
    text-align: center;
}

#contact {
    text-align: center;
    color: white;
}

select.email {
    display: flex;
    justify-content: column;
}

nav a {
    color: white;
    text-decoration: none;
}

nav {
    width: 12%;
    height: 100vh;
    background-color: #333;
    padding: 20px;
    box-sizing: border-box;
}

label {
    display: flex;
    justify-content: column;
}

button.enviar {
    display: flex;
    justify-content: column;
}

#logo {
    width: 700px;
    height: 100px;
}

main {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

section.team-members {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

article {
    text-align: center;
}

img {
    max-width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
}